<div class="w-50 mx-auto">
    
    <table class="table table-striped" *ngFor="let eventList of [this.eventService.cart];">
        <thead>
            <tr>
                <th>Donation</th>
                <th>Amount</th>
                <th>Make this a monthly<br> recurring donation</th>
            </tr>
        </thead>
        <tbody *ngFor="let ev of eventList;">
            <tr>
                <td>
                    <div>{{ev.eventName}}</div>
                </td>
                <td>
                <input class="form-control" [(ngModel)]="ev.amount" required minlength ="1">
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" [(ngModel)]="ev.recurring">                
                </td>
            </tr>

        </tbody>
    </table>


    <div>
        <button class="btn btn-warning float-end m-2 mx-auto" (click)="continue()">Continue</button>

        <button class="btn btn-warning float-end m-2 mx-auto" (click)="cancel()">Cancel</button>
    </div>

</div>