<div class="text-bg-secondary p-2">
  <h1 class="text-center">NGO Donations Portal <span *ngIf="userService.loggedIn">
    <button class="btn btn-warning float-end mt-2 mx-auto" (click)="logout()">Logout</button>
  </span>
</h1>
  
</div>
<nav class="navbar bg-white">
  <div class="text-center mx-auto">

      <span *ngIf="!userService.loggedIn">
          <a routerLink="login" routerLinkActive="text-info">Login</a>
      </span>

  </div>
  
</nav>
<router-outlet></router-outlet>